## Sample Config entries and description for running sftpUtil.sh script
#JOB_NAME~sourcePath~Opolo_OfferConfiguration_$(date --date="2 days ago")*.csv~destinationUser~destinationServer~destinationPath~encDec~splitCount~pgpUserId~keyFile~mode~removeFirstLine~comps_decmprs~charsToRemove~processed_path~checkForEOT~outputExtn
## EOD Files for SFTP
## MetaData Files
OFFER_SFMC~/opt/knowesis/opolo/orchestrator/opolo_meta_data-intermediate~Opolo_OfferConfiguration_$(date +"%Y%m%d")*.csv~root~127.0.0.1~/SFMC/OPOLO_SFMC/toSFMC~ENC~-1~Vivian.Wang@team.telstra.com~NA~PUSH~NA~NA~~/opt/knowesis/opolo/orchestrator/opolo_meta_data-processed~Y~NA
OFFER_BIDW~/opt/knowesis/opolo/orchestrator/opolo_meta_data~Opolo_OfferConfiguration_$(date +"%Y%m%d")*.csv~root~127.0.0.1~/BIDH/OPOLO_BIDH/toBIDH~NA~-1~NA~NA~PUSH~NA~NA~~/opt/knowesis/opolo/orchestrator/opolo_meta_data-intermediate~Y~NA
PROGRAM_SFMC~/opt/knowesis/opolo/orchestrator/opolo_meta_data-intermediate~Opolo_ProgramConfiguration_$(date +"%Y%m%d")*.csv~OPOLO_SFX_P01~10.75.65.163~/SFMC/OPOLO_SFMC/toSFMC~ENC~-1~Vivian.Wang@team.telstra.com~NA~PUSH~NA~NA~~/opt/knowesis/opolo/orchestrator/opolo_meta_data-processed~Y~NA
PROGRAM_BIDW~/opt/knowesis/opolo/orchestrator/opolo_meta_data~Opolo_ProgramConfiguration_$(date +"%Y%m%d")*.csv~OPOLO_SFX_P01~10.75.65.163~/BIDH/OPOLO_BIDH/toBIDH~NA~-1~NA~NA~PUSH~NA~NA~~/opt/knowesis/opolo/orchestrator/opolo_meta_data-intermediate~Y~NA
TRIGGER_SFMC~/opt/knowesis/opolo/orchestrator/opolo_meta_data-intermediate~Opolo_TriggerConfiguration_$(date +"%Y%m%d")*.csv~OPOLO_SFX_P01~10.75.65.163~/SFMC/OPOLO_SFMC/toSFMC~ENC~-1~Vivian.Wang@team.telstra.com~NA~PUSH~NA~NA~~/opt/knowesis/opolo/orchestrator/opolo_meta_data-processed~Y~NA
TRIGGER_BIDW~/opt/knowesis/opolo/orchestrator/opolo_meta_data~Opolo_TriggerConfiguration_$(date +"%Y%m%d")*.csv~OPOLO_SFX_P01~10.75.65.163~/BIDH/OPOLO_BIDH/toBIDH~NA~-1~NA~NA~PUSH~NA~NA~~/opt/knowesis/opolo/orchestrator/opolo_meta_data-intermediate~Y~NA
## Event History Files
EVENT_HIST_SFMC~/opt/knowesis/opolo/orchestrator/opolo_meta_data-intermediate~Opolo_EventHistory_$(date --date="1 days ago" +"%Y%m%d")*.csv~OPOLO_SFX_P01~10.75.65.163~/SFMC/OPOLO_SFMC/toSFMC~ENC~-1~Vivian.Wang@team.telstra.com~NA~PUSH~NA~NA~~/opt/knowesis/opolo/orchestrator/opolo_meta_data-processed~Y~NA
EVENT_HIST_BIDW~/opt/knowesis/opolo/orchestrator/opolo_meta_data~Opolo_EventHistory_$(date --date="1 days ago" +"%Y%m%d")*.csv~OPOLO_SFX_P01~10.75.65.163~/BIDH/OPOLO_BIDH/toBIDH~NA~-1~NA~NA~PUSH~NA~NA~~/opt/knowesis/opolo/orchestrator/opolo_meta_data-intermediate~Y~NA
## TEMP Config
#OFFER_SFMC_TEMP~/opt/knowesis/opolo/orchestrator/opolo_meta_data-intermediate~Opolo_OfferConfiguration_$(date --date="1 days ago" +"%Y%m%d")*.csv~OPOLO_SFX_P01~10.75.65.163~/SFMC/OPOLO_SFMC/toSFMC~ENC~-1~Vivian.Wang@team.telstra.com~NA~PUSH~NA~NA~~/opt/knowesis/opolo/orchestrator/opolo_meta_data-processed~Y~NA
#OFFER_BIDW_TEMP~/opt/knowesis/opolo/orchestrator/opolo_meta_data~Opolo_OfferConfiguration_$(date --date="1 days ago" +"%Y%m%d")*.csv~OPOLO_SFX_P01~10.75.65.163~/BIDH/OPOLO_BIDH/toBIDH~NA~-1~NA~NA~PUSH~NA~NA~~/opt/knowesis/opolo/orchestrator/opolo_meta_data-intermediate~Y~NA
#PROGRAM_SFMC_TEMP~/opt/knowesis/opolo/orchestrator/opolo_meta_data-intermediate~Opolo_ProgramConfiguration_$(date --date="1 days ago" +"%Y%m%d")*.csv~OPOLO_SFX_P01~10.75.65.163~/SFMC/OPOLO_SFMC/toFMC~ENC~-1~Vivian.Wang@team.telstra.com~NA~PUSH~NA~NA~~/opt/knowesis/opolo/orchestrator/opolo_meta_data-processed~Y~NA
#PROGRAM_BIDW_TEMP~/opt/knowesis/opolo/orchestrator/opolo_meta_data~Opolo_ProgramConfiguration_$(date --date="1 days ago" +"%Y%m%d")*.csv~OPOLO_SFX_P01~10.75.65.163~/BIDH/OPOLO_BIDH/toBIDH~NA~-1~NA~NA~PUSH~NA~NA~~/opt/knowesis/opolo/orchestrator/opolo_meta_data-intermediate~Y~NA
#TRIGGER_SFMC_TEMP~/opt/knowesis/opolo/orchestrator/opolo_meta_data-intermediate~Opolo_TriggerConfiguration_$(date --date="1 days ago" +"%Y%m%d")*.csv~OPOLO_SFX_P01~10.75.65.163~/SFMC/OPOLO_SFMC/toSFMC~ENC~-1~Vivian.Wang@team.telstra.com~NA~PUSH~NA~NA~~/opt/knowesis/opolo/orchestrator/opolo_meta_data-processed~Y~NA
#TRIGGER_BIDW_TEMP~/opt/knowesis/opolo/orchestrator/opolo_meta_data~Opolo_TriggerConfiguration_$(date --date="1 days ago" +"%Y%m%d")*.csv~OPOLO_SFX_P01~10.75.65.163~/BIDH/OPOLO_BIDH/toBIDH~NA~-1~NA~NA~PUSH~NA~NA~~/opt/knowesis/opolo/orchestrator/opolo_meta_data-intermediate~Y~NA
